*{
    padding: 0;
    margin: 0;
}

html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 12%;
    width: 100%;
    background-color: #3c0f0f;
    opacity: .75;
    color: white;
    text-align: center;
    font-size: 10vmin;
    line-height: 12vh;
}

.number-container, .key-container, .sura-container{
    position: absolute;
    width: 80%;
    height: 62%;
    top: 25%;
    left: 10%;
    border: .5vmin solid #3c0f0f;
    text-align: center;
    font-size: 6vmin;
    color: white;
    font-family: "Cardo", serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.type{
    margin: 5vh 0;
}
.inp, .sub{
    position: relative;
    display: block;
    top: 0%;
    width: 27%;
    height: 13%;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-family: "Lato";
    color: #17245c;
    font-size: 5vmin;
}

.key-text, .num-text, .sura-text{
    position: absolute;
    width: 60%;
    height: 40%;
    top: 53%;
    left: 20%;
    color: white;
    z-index: 1;
    font-size: 5.5vmin;
    font-family: "Lato";
}

.button{
    position: absolute;
    width: 33.3%;
    height: 8%;
    top: 12%;
    line-height: 8vh;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 6vmin;
    background-color: #711f1f;
    font-family: "Cardo";
}
#sura-button{
    left: 0;
}

#key-button{
    left: 33.3%;
    opacity: .25;
    border-bottom: 6px solid maroon;
}

#full-button{
    left: 66.6%;
    opacity: .6;
}

.footer{
    position: fixed;
    width: 100%;
    height: 8%;
    top: 92%;
    text-align: center;
    line-height: 8vh;
    font-size: 4vmin;
    color: white;
    font-family: "Cardo";
    background-color: #3c0f0f;
    opacity: .75;
}
@media (min-width: 600px) {
    .key-text, .num-text, .sura-text,{
        font-size: 5vmin;
    }
    
    .footer{
        font-size: 3vmin;
    }
}
@media (min-width: 450px) and (min-height: 600px) {
    .key-text, .num-text, .sura-text{
        font-size: 3.5vmin;
    }
}